body, html {
  background-color: rgb(241, 246, 247);
  height: 100%;
  margin: 0px}

h1 {
  color: rgb(212, 225, 228);
  font-family: "papyrus";
  text-align:center;
}

h2 {
  color: rgb(83, 24, 117);
  font-family: "garamond";
  text-align: center;
}

p{color: rgb(17, 6, 67);}

nav li{ display: inline;
  margin: 20px
}

nav ul{background-color: rgb(243, 240, 240);
margin: 0px;
list-style-type:none;
width: 100%;
padding: 20px;}

nav{ display: block;
color: rgb(9, 9, 9);}

nav a{
  color: rgb(7, 0, 6);
  font-family: "papyrus";
  text-decoration: none;
  font-size: "40";
  text-align: center;
}

.hero-image {
  background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(105, 95, 95, 0.5)), url("../images/me\ mountain.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

#main{
  width: 75%;
  float: left;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

#side{
  width: 20%;
  float: right;
  height:100%;
  padding:20px
}

#profile{
  text-align: center;
}

